.my-window-container {
  height: 500px;
  width: 100px;
  overflow: hidden;
}

.my-window {
  height: 300px;
  width: 130px;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;

}

.my-content {
  height: 100px !important;
  width: 100px;

  &:first-of-type {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
}
